:root {
    --primary-color: #3467FD;
    --form-heading: #1D1D1D;
    --form-hint: rgba(0, 0, 0, 0.7);
    --placeholder: rgba(0, 0, 0, 0.5);
    --field-stroke: #B3A7E1;
    --field-complete-stroke: #6252B5;
    --field-complete-background: rgba(148, 131, 235, 0.1);
    --aside-text: rgba(255, 255, 255, 0.7);
    --font: 'Inter', sans-serif;
}

html {
    font-size: 10px;
    font-family: var(--font);
}

body {
    margin: 0;
    font-size: 2.2rem;
    color: var(--form-heading);
    line-height: 1.45;
    overflow: hidden;
}

#main-wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 
        "aside form";
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "t0p"
        "b0ttom";
    grid-row-gap: 12vh;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--aside-text);
    position: relative;
    padding: 0 5vw;
}

#aside-top {
    grid-area: t0p;
    align-self: end;
    justify-self: start;
    max-width: 100%;
}

img {
    max-width: 100%;
}

h1 {
    visibility: collapse;
    height: 0.1rem;
}

h2 {
    font-family: var(--font);
    font-size: 2.6rem;
    font-weight: 600;
}

.hint {
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 400;
    color: var(--form-hint);
}

#description, #aside-text {
    font-size: 2.2rem;
}

#aside-text {
    grid-area: b0ttom;
    align-self: start;
    color: #FFF;
}

/*Icon fix starts*/
.material-icons {
  font-size: 24px; 
  display: inline-flex;
  vertical-align: middle;
}
/*Icon fix ends*/

/*flex approach

aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    background-color: var(--primary-color);
    padding: 0 4vw;
}

h1 {
    visibility: hidden;
    height: 0.1rem;
}

*/

main {
    grid-area: form;
    overflow-y: auto;
    padding: 10vh 7vw;
}

.form-group {
    margin-bottom: 4.4rem;
}

label, .form-question {
    display: block;
    position: relative;
    color: var(--form-heading);
    font-weight: 600;
}

.form-field {
    display: block;
    width: 100%;
    background-color: #FFF;
    border-radius: 0.6rem;
    border: 2px solid var(--field-stroke);
    padding: 1.6rem 2.4rem;
    box-sizing: border-box;
}

::placeholder {
    color: var(--placeholder);
}

input, select, .form-field, .dropdown, fieldset {
    font-family: inherit;
    font-size: 2rem;
}

input {
    margin-top: 1rem;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset label {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
    font-weight: 400;
}

fieldset label input {
    margin: 0 2.4rem 0 0;
}

.form-radio, .checks {
    min-height: 2.4rem;
    min-width: 2.4rem;
}

.box-radio {
    max-width: 30%;
    border: 2px solid var(--field-stroke);
    border-radius: 0.6rem;
    padding: 1.8rem;
}

.box-radio:hover {
    background-color: var(--field-complete-background);
}

.form-field:focus {
    background-color: var(--field-complete-background);
    border-color: var(--field-complete-stroke);
}

/*
.form-field:invalid {
    border-color: crimson;
}
*/

.input-textarea {
    min-height: 19rem;
    resize: vertical;
}

.submit-button {
    width: 100%;
    padding: 1.8rem 0;
    background-color: var(--primary-color);
    color: #FFF;
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.4);
    cursor: pointer;
    transition: all ease-out 120ms;
}

.submit-button:hover {
    background-color: var(--field-stroke);
    box-shadow: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-button {
    background: none;
    color: var(--primary-color);
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all ease-out 120ms;
}

.text-button:hover {
    color: var(--field-stroke);
}

@media screen and (max-width: 768px) {
    body {
        overflow:auto;
    }
    
    #main-wrapper {
        width: 100vw;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "aside"
            "form";
    }
    
    
    aside {
        grid-row-gap: 3vh;
    }
    
    #aside-text {
        align-self: start;
        margin: 0 0 3vh 0;;
    }
    
    main {
        padding: 5vh 5vw;
    }
    
    #description, #aside-text, label, .form-question {
        font-size: 2.0rem;
    }
    
    .hint {
        font-size: 1.8rem;
    }
    
    h2 {
        font-size: 2.4rem;
    }
    
    .box-radio {
        max-width: 100%;
    }
    
    ::placeholder, .dropdown, .submit-button, .reset-button {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 425px) {
    
    aside {
        grid-row-gap: 1vh;
    }
    
    #title {
        display: flex;
        visibility: visible;
        height: auto;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2;
        color: #fff;
    }
    
    img {
        display: none;
    }
    
    main {
        padding: 2vh 5vw;
    }
    
    #description, #aside-text, label, .form-question, .hint {
        font-size: 1.6rem;
        line-height: 1.5;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    ::placeholder, .dropdown, .submit-button, .reset-button {
        font-size: 1.6rem;
    }
}

 /*ipad pro only*/

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1.5) {
        body {
        overflow:auto;
    }
    
    #main-wrapper {
        width: 100vw;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "aside"
            "form";
    }
    
    aside {
        grid-row-gap: 2vh;
    }
    
    #aside-text {
        align-self: start;
        margin: 0 0 3vh 0;;
    }
    
    main {
        padding: 5vh 5vw;
    }
        
    
    #description {
        max-width: 80%;
    }
}
